.fogotcontiner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fpcontiner {
    width: 300px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.fpasswordinput {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

.fpasswordbtn {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}